<style>
  .error {
    text-align: center;
    text-decoration: underline red;
  }
</style>

<header>
  <%- include('./header'); %>
</header>

<title>Error</title>
<div class="error">
  Error: <%= error %>!!!
</div>