<title>My Youtube video parser</title>

<style>
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 15%;
    margin-left: auto;
  }
  .nav-button {
    border: 8px solid rgb(97, 38, 38);
    border-radius: 16px;
    height: 32px;
    padding: 8px;
    color: grey;
    padding-top: 16px;
  }
</style>
<div class="buttons">
  <a class="nav-button" href="/">Home</a>
  <a class="nav-button" href="/result">Result</a>
</div>