<style>
  .form {
    text-align: center;
  }
</style>

<header>
  <%- include('./header'); %>
</header>

<main>
  <form class="form" name="/" method="post">
    <input type="text" name="url" placeholder="Enter youtube video url" />
    <input type="submit" value="Parse!" />
  </form>
</main>